<script type="text/ng-template" id="view_or_details.html">
    <div block-ui="blockOrDetails">
        <form name="form.orDetails" novalidate>
            <div class="modal-header align-items-center">
				<span class="fa-stack fa-lg">
	                <i class="fas fa-square fa-stack-2x text-crimson"></i>
	                <i class="fas fa-info fa-stack-1x fa-inverse"></i>
	            </span>

				<h5 class="modal-title" style="letter-spacing: 1px;">O.R.#{{orDetails.or_no}} DETAILS</h5>

	            <button type="button" class="close" aria-label="Close" ng-click="closeModal()">
	                <span aria-hidden="true">
	                    <i class="fas fa-times"></i>
	                </span>
	            </button>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-2"></div>
                                            <div class="col-10">
                                                <table>
                                                    <tr>
                                                        <th class="text-right">Transaction Date</th>
                                                        <td>&nbsp;&nbsp;&nbsp;: {{orDetails.transaction_date}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right">Amount Paid</th>
                                                        <td>&nbsp;&nbsp;&nbsp;: Php {{orDetails.amount_paid | number:2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right">Paid By</th>
                                                        <td>&nbsp;&nbsp;&nbsp;: {{orDetails.paid_by}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right">Collecting Officer</th>
                                                        <td>&nbsp;&nbsp;&nbsp;: {{orDetails.collector.full_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right">Tax Declaration No./s</th>
                                                        <td>&nbsp;&nbsp;&nbsp;:</td>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <td>
                                                            <div ng-repeat="(key, value) in orDetails.td_list track by $index">
                                                                <button class="btn btn-xs btn-primary" data-toggle="tooltip" title="View TD Details" ng-click="viewTaxDec(value)">
                                                                    {{value.td_details.td_no}}
                                                                </button>
                                                                <p style="margin-bottom:5px;"></p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bordered">
				<button type="button" class="btn btn-default" ng-click="closeModal()">
					<span>CLOSE</span>
				</button>
			</div>
        </form>
    </div>
</script>