<script type="text/ng-template" id="payment_portal.html">
    <div block-ui="blockPaymentPortal">
        <form name="form.addPaymentPortal" novalidate>
            <div class="modal-header align-items-center">
				<span class="fa-stack fa-lg">
	                <i class="fas fa-square fa-stack-2x text-crimson"></i>
	                <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
	            </span>

				<h5 class="modal-title" style="letter-spacing: 1px;">PAYMENT DETAILS</h5>

	            <button type="button" class="close" aria-label="Close" ng-click="closeModal()">
	                <span aria-hidden="true">
	                    <i class="fas fa-times"></i>
	                </span>
	            </button>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="or_no" class="form-label font-weight-bold">O.R. No. <i class="text-danger">*</i></label>
                                <div class="form-group">
                                    <input type="text" ng-model="addPaymentDetail.or_no" class="form-control" id="or_no" placeholder="Enter O.R. Number..." autofocus autocomplete="off" required />
                                </div>
                            </div>
                            <div class="col-4">
                                <label for="paid_by" class="form-label font-weight-bold">Paid By <i class="text-danger">*</i></label>
                                <div class="form-group">
                                    <input type="text" ng-model="addPaymentDetail.paid_by" class="form-control" id="paid_by" placeholder="Enter Name of Payor..." autofocus autocomplete="off" required />
                                </div>
                            </div>
                            <div class="col-4">
                                <label for="transaction_date" class="form-label font-weight-bold">Date of Transaction <i class="text-danger">*</i></label>
                                <div class="form-group">
                                    <input type="text" id="transaction_date" ng-model="addPaymentDetail.transaction_date" data-language='en' placeholder="Enter Transaction Date" class="form-control date" autocomplete="off" required />
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-12">
                                <table id="big-table">
                                    <tbody>
                                        <tr>
                                            <td class="border-1 font-times font-12-l text-center text-uppercase px-3 py-2" width="10%">Name of Declared<br />Owner</td>
                                            <td class="border-1 font-times font-12-l text-center text-uppercase px-3 py-2" width="10%">Location<br />Number and Street<br />or Barangay</td>
                                            <td class="border-1 font-times font-12-l text-center text-uppercase px-3 py-2" width="10%">Lot<br />and Block<br />Number</td>
                                            <td class="border-1 font-times font-12-l text-center text-uppercase px-3 py-2" width="10%">Tax<br />Declaration<br />Number</td>
                                            <td class="border-1 font-times font-12-l text-center text-uppercase px-3 py-2" width="10%">Assessed Value</td>
                                            <td class="border-1 font-times font-12-l text-center text-uppercase px-5 py-2" width="5%" >Tax<br />Due</td>
                                            <td class="border-1 font-times font-12-l text-center text-uppercase px-5 py-2" width="5%" ></td>
                                            <td class="border-1 font-times font-12-l text-center text-uppercase px-3 py-2" width="10%" colspan="2">Installment<i class="text-danger">*</i></td>
                                            <td class="border-1 font-times font-12-l text-center text-uppercase px-3 py-2" width="10%">Full<br />Payment<i class="text-danger">*</i></td>
                                            <td class="border-1 font-times font-12-l text-center text-uppercase px-3 py-2" width="10%">Penalty<br />Per cent<i class="text-danger">*</i></td>
                                            <td class="border-1 font-times font-12-l text-center text-uppercase px-3 py-2" width="10%">Total<i class="text-danger">*</i></td>
                                        </tr>
                                        <!-- Data -->
                                        <tr ng-repeat="(key, r) in td_records track by $index">
                                            <!-- <td class="border-1 text-center" rowspan="{{ addrowspan + 1}}">
                                                <button type="button" class="btn btn-sm btn-danger" ng-if="td_records.length > 1" ng-click="removeRow($index)">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </td> -->
                                            <td class="border-1">
                                                {{r.owner}}
                                            </td>
                                            <td class="border-1">
                                                {{(r.prop_location_street != null) ? r.prop_location_street + ', ' : ''}}{{r.barangay.name}}
                                            </td>
                                            <td class="border-1">
                                                {{(r.lot_no != null) ? r.lot_no : r.block_no}}
                                            </td>
                                            <td class="border-1">
                                                {{r.td_no}}
                                            </td>
                                            <td class="border-1">
                                                {{r.total_assessed_value | number:2}}
                                            </td>
                                            <td class="border-1">
                                                <input type="number" step="0.01" min="0" class="form-control" name="tax_due" ng-model="td_records[$index].tax_due" />
                                            </td>
                                            <td class="border-1 font-times font-12-l text-center text-uppercase">
                                                <button type="button" class="btn btn-md btn-success" data-toggle="tooltip" title="Add Installment Payment for TD#{{r.td_no}}" ng-click="addRowInstallment(key)">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </td>
                                            <td class="border-1" colspan="5">
                                                <table class="t-custom">
                                                    <tr ng-repeat="(pKey, pVal) in td_records[key].payments track by $index">
                                                        <td class="no-border">
                                                            <button type="button" class="btn btn-sm btn-danger" ng-disabled="td_records[key].payments.length == 1" ng-click="removeRowInstallment(key, pKey)">
                                                                <i class="fas fa-times"></i>
                                                            </button>
                                                        </td>
                                                        <td class="no-border" width="22%">
                                                            <input type="text" class="form-control" name="effectivity_year" placeholder="year" ng-model="td_records[key].payments[pKey].effectivity_year" required />
                                                        </td>
                                                        <td class="no-border">
                                                            <input type="number" step="0.01" min="0" class="form-control" name="full_payment" ng-change="computeTotalPerRow(key, pKey)" ng-model="td_records[key].payments[pKey].full_payment" required />
                                                        </td>
                                                        <td class="no-border">
                                                            <input type="number" step="0.01" min="0" class="form-control" name="penalty_amount" ng-change="computeTotalPerRow(key, pKey)" ng-model="td_records[key].payments[pKey].penalty_amount" required />
                                                        </td>
                                                        <td class="no-border">
                                                            <input type="number" step="0.01" min="0" class="form-control" name="total_per_row" ng-model="td_records[key].payments[pKey].total_per_row" required />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="border-1" colspan="10"></td>
                                            <td class="border-1 text-right">BASIC</td>
                                            <td class="border-1 text-center">{{computeTotal() | number:2}}</td>
                                        </tr>
                                        <tr>
                                            <td class="border-1" colspan="10"></td>
                                            <td class="border-1 text-right">SEF</td>
                                            <td class="border-1 text-center">{{computeTotal() | number:2}}</td>
                                        </tr>
                                        <tr>
                                            <td class="border-1" colspan="10"></td>
                                            <td class="border-1 text-right">Php</td>
                                            <td class="border-1 text-center font-14-l"><b>{{computeTotal('total') | number:2}}</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<p class="text-danger font-italic" style="font-size: 10px;">* Fields are required.</p>
					</div>
				</div>
            </div>
            <div class="modal-footer bordered">
				<button type="submit" class="btn btn-default bg-crimson-red" ng-click="save()" ng-disabled="!form.addPaymentPortal.$valid">
					<span>SAVE PAYMENT</span>
				</button>
				<button type="button" class="btn btn-default" ng-click="closeModal()">
					<span>CLOSE</span>
				</button>
			</div>
        </form>
    </div>
</script>