<script type="text/ng-template" id="change_password.html">
    <div block-ui="blockChangePassword">
        <form name="changePasswordForm" ng-submit="change(changePasswordForm.$valid)" novalidate>
            <div class="modal-header">
				<span class="fa-stack fa-lg">
	                <i class="fa fa-square fa-stack-2x text-danger"></i>
	                <i class="fa fa-plus fa-stack-1x" style="color: white;"></i>
	            </span>

	            <span style="letter-spacing: 1px;" class="text-uppercase">CHANGE PASSWORD FORM</span>

	            <button type="button" class="close" aria-label="Close" ng-click="closeModal()" style="margin-top: 7px; margin-right: 7px;">
	                <span aria-hidden="true">
	                    <i class="fa fa-times"></i>
	                </span>
	            </button>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
                    	<!-- Current Password -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group has-feedback">
                                	<label class="form-label"><small>CURRENT PASSWORD : </small></label>
                                    <input type="password" 
                                        name="cur_pass"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        data-trigger="focus"
                                        title="Current Password"
                                        ng-model="changePassInfo.cur_pass" 
                                        autofocus="autofocus" 
                                        class="form-control" 
                                        placeholder="Enter Current Password.">
		                            <span class="fa fa-lock form-control-feedback" style="color: #BBB;" ng-show="oldPassword.default"></span>
		                            <span class="fa fa-times form-control-feedback" style="color: red;" ng-show="oldPassword.disapproved"></span>
		                            <span class="fa fa-check form-control-feedback" style="color: green;" ng-show="oldPassword.approved"></span>
                                </div>
                            </div>
                        </div>

                    	<!-- New Password -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group has-feedback">
                                	<label class="form-label"><small>NEW PASSWORD : </small></label>
                                    <input type="password" 
                                        name="new_pass"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        data-trigger="focus"
                                        title="New Password"
                                        ng-model="changePassInfo.new_pass" 
	                                	ng-disabled="!oldPassword.approved"
                                        class="form-control" 
                                        placeholder="Enter new password.">
		                            <span class="fa fa-lock form-control-feedback" style="color: #BBB;" ng-show="password.default"></span>
		                            <span class="fa fa-times form-control-feedback" style="color: red;" ng-show="password.disapproved"></span>
		                            <span class="fa fa-check form-control-feedback" style="color: green;" ng-show="password.approved"></span>
                                </div>
                            </div>
                        </div>

                    	<!-- Confirm New Password -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group has-feedback">
                                	<label class="form-label"><small>CONFIRM NEW PASSWORD : </small></label>
                                    <input type="password" 
                                        name="confirm_new_pass"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        data-trigger="focus"
                                        title="Confirm New Password"
                                        ng-model="changePassInfo.confirm_new_pass" 
	                                	ng-disabled="!oldPassword.approved"
                                        class="form-control" 
                                        placeholder="Confirm new password.">
		                            <span class="fa fa-lock form-control-feedback" style="color: #BBB;" ng-show="password.default"></span>
		                            <span class="fa fa-times form-control-feedback" style="color: red;" ng-show="password.disapproved"></span>
		                            <span class="fa fa-check form-control-feedback" style="color: green;" ng-show="password.approved"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            	
            </div>
            <div class="modal-footer">
                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
                        <button class="btn btn-warning hoverable" ng-disabled="!password.approved">
                            <i class="fa fa-save"></i>&nbsp;Save
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

	<script type="text/javascript">
	    $(document).ready(function(){
	        // input-mask
	        Inputmask().mask(document.querySelectorAll("input"));
	    });
	</script>
</script>