* {
    box-sizing: border-box;
}

/**
 * uncustomize placeholder
 */
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
    text-align: left;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
    text-align: left;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
    text-align: left;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
    text-align: left;
}
::placeholder { /* Recent browsers */
    text-transform: none;
    text-align: left;
}

.bootstrap-select.btn-group .dropdown-menu {
    width: 200px;
}

div.btn-default-focus2:active {
    border: none;
}

.my-dropdown {
    margin-top: unset !important;
    font-size: unset !important;
    max-height: 500px !important;
    overflow-x: scroll !important;
    overflow-y: auto !important;
    top: unset !important;
    padding: 0 0 0 0;
}

/*
.table-responsive {
    min-height: .01%;
    min-height: 400px;
    min-width: 400px;
    overflow-x: auto;
}
*/

span.ui-select-choices-row-inner {
    padding: 10px 20px !important;
}

/**
 * Datatable custom styles
 */
table.dataTable th.focus,
table.dataTable td.focus {
  outline: none;
}

table[jq-data-tables]>tbody>tr>td>table {
    border: solid thin #CCC;
}

table[jq-data-tables]>tbody>tr.selected {
    color: #111 !important;
}

/**
 * Custom styles
 */
.hoverable:hover {
    cursor: pointer;
    transition: box-shadow .25s;
    box-shadow: 0px 0px 7px 0px #000, 0px 0px 10px 0px #CCC;
}

.custom-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    line-height: 35px;
    background-color: white;
    color: #000;
    text-align: center;
    box-shadow: 0px 0px 5px 0px #000;
    z-index: 1000;
}

.custom-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0px 0px 5px 0px #000;
}

@media (min-width: 576px) {
    .modal-dialog {
      max-width: none !important;
    }
}

@media (min-width: 768px) {
    .modal-md {
        width: 768px !important;
    }
    .modal-lg {
        width: 900px !important;
    }
    .modal-xlg{
        width: 70% !important;
    }
    .modal-xxlg{
        width: 90% !important;
    }
    .modal-xxxlg{
        width: 98% !important;
    }
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.container img {
    width: 185px;
    height: 188px;
}

.container .circle {
	width: 33px;
    height: 33px;
    position: absolute;
    top: 0.05%;
    left: 98%;
    background-color: rgb(13, 122, 196);
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}

.container .circle:hover {
    background-color:	#FF0000;
    color: rgb(14, 13, 13);
    font-size: 16px;
}

.column {
    float: left;
    width: 31.40%;
    padding: 8px;
}

.column2 {
    float: left;
    width: 15%;
    padding: 8px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Custom Theme */
.bg-crimson-red {
    background-color: #E91A10 !important;
    color: #ffffff !important;
}

.border-crimson {
    border: 1px solid #bd0e05 !important;
}

.bg-gradient-crimson {
    background-color: #df3a32;
    background-image: linear-gradient(180deg,#ec4840 10%,#e30a00 100%);
    background-size: cover;
}

.btn-crimson {
    color: #fff;
    background-color: #ec4840;
    border-color: #e30a00
}

.btn-crimson:hover {
    color: #fff;
    background-color: #cf3229;
    border-color: #c02c24;
}

.btn-crimson.focus,.btn-crimson:focus {
    color: #fff;
    background-color: #cf3229;
    border-color: #c02c24;
    box-shadow: 0 0 0 .2rem rgba(196, 8, 8, 0.5)
}

.btn-crimson.disabled,.btn-crimson:disabled {
    color: #fff;
    background-color: #E91A10;
    border-color: #E91A10;
}

.btn-crimson:not(:disabled):not(.disabled).active,.btn-crimson:not(:disabled):not(.disabled):active,.show>.btn-crimson.dropdown-toggle {
    color: #fff;
    background-color: #ec4840;
    border-color: #e30a00;
}

.btn-crimson:not(:disabled):not(.disabled).active:focus,.btn-crimson:not(:disabled):not(.disabled):active:focus,.show>.btn-crimson.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(196, 8, 8, 0.5);
}

.text-crimson {
    color: #e9362c !important
}

a.text-crimson:focus,a.text-crimson:hover {
    color: #ec4840 !important
}

.border-left-crimson {
    border-left: .25rem solid #E91A10 !important;
}

.border-bottom-crimson {
    border-bottom: .25rem solid #E91A10 !important;
}

/* Custom CSS */
.resize-none {
    resize: none;
}


.w-35 {
    width: 35%;
    margin: auto;
}

.w-45 {
    width: 45%;
    margin: auto;
}

.w-50 {
    width: 50%;
    margin: auto;
}

.w-60 {
    width: 60%;
    margin: auto;
}

.w-80 {
    width: 80%;
    margin: auto;
}

.w-85 {
    width: 85%;
    margin: auto;
}

.w-90 {
    width: 90%;
    margin: auto;
}

.w-95 {
    width: 95%;
    margin: auto;
}

.w-100 {
    width: 100%;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    color: #ffffff !important;
    background-color: #f2615a !important;
}

.page-link {
    color: #f2615a !important;
}

.page-link:hover {
    color: #ec2e24 !important;
}

.page-link:focus {
    box-shadow: 0 0 0 .2rem rgb(223 78 78 / 25%) !important;
}

.page-item.active .page-link {
    color: #fff !important;
    background-color: #f2615a !important;
    border-color: #f2615a !important;
}


.page-item.disabled .page-link {
    color: #858796 !important;
}

.dataTables_filter {
    float: right !important;
}

.dataTables_filter input:focus {
    box-shadow: none !important;
    border: 1px solid #f2615a !important;
}

.alertify-logs .error,
.alertify-logs .success {
    font-size: 14px !important;
}

/* Fix for the UIBModal */
.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

/**
 * ui-select.bootstrap4.shim.css
 *
 * Adapt `bootstrap` (v3) theme from AngularJS `ui-select`
 * component to Bootstrap v4.x look and feel.
 * Bootstrap v4.x look and feel
 *
 * Feel free to test and open issues and pull requests.
 *
 * @see       https://angular-ui.github.io/ui-select/
 *
 * @project   ui-select.bootstrap4.shim.css
 * @version   1-20180706
 * @author    Francis Vagner dos Anjos Fontoura
 * @copyright 2018 by the author
 * @cssdoc    version 1.0-pre
 * @license   MIT
 */

 .pull-left {
    float: left !important;
}

.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    display: inline-block;
    margin-left: 0;
    vertical-align: middle;
    width: 0;
}

.pull-right {
    float: right !important;
}

.ui-select-toggle.btn {
    border: 1px solid #ced4da;
}

.ui-select-choices.dropdown-menu {
    display: block;
}

.ui-select-match-text {
    max-height: 24px;
}

.ui-select-match .btn {
    background-color: #fff !important;
}

.ui-select-match.btn-default-focus {
    border-radius: .25rem;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    outline: 0;
}

.ui-select-match.btn-default-focus > .ui-select-toggle {
    border-color: #80bdff;
}

/* fix the Date picker */
.datepicker {
    z-index: 10000 !important
}

/* Custom Radio Button */

.custom-radio:checked,
.custom-radio:not(:checked) {
    position: absolute;
    left: -9999px;
}

.custom-radio:checked+label,
.custom-radio:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #333;
}

.custom-radio:checked+label:before,
.custom-radio:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #bbb;
    border-radius: 100%;
    background: #fff;
}

.custom-radio:checked+label:after,
.custom-radio:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #999;
    position: absolute;
    top: 3.93px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.custom-radio:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.custom-radio:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* --------------- */
/* Custom Checkbox */
/* --------------- */

.checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
    text-indent: 30px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #2a8be6;
}

.checkbox-label input:checked~.checkbox-custom {
    background-color: #489be9;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid #2a8be6;
}

.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked~.checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}


/* For Ripple Effect */


.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #CCCCCC;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.checkbox-label input:checked~.checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity: 0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

/* CSS */
.w-hyphen::after {
    content: '-';
    position: absolute;
    top: 0;
    font-size: 25px;
    right: -4px;
}

.font-times {
    font-family: 'Times New Roman', serif;
    font-size: 19px;
    color: black;
    line-height: 1.5rem;
}

.font-arial {
    font-family: 'Arial', serif;
    font-size: 19px;
    color: black;
    line-height: 1.8rem;
}

.font-11-l {
    font-size: 10px;
    line-height: 1rem;
}

.font-12-l {
    font-size: 13px;
    line-height: 1.1rem;
}

.font-13-l {
    font-size: 14px;
    line-height: 1.3rem;
}

.font-12 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 16px;
}

.font-16 {
    font-size: 17px;
}

.font-17 {
    font-size: 18px;
}

.font-18 {
    font-size: 20px;
}

.font-20 {
    font-size: 22px;
}

.font-23 {
    font-size: 25px;
}

.font-25 {
    font-size: 27px;
}

.font-30 {
    font-size: 30px;
}

.font-32 {
    font-size: 32px;
}

.inline {
    display: inline-block;
}

.border-bottom-form {
    border-bottom: 1px solid black;
}

.pt-29 {
    padding-top: 29px;
}

.white-space-pre {
    white-space: pre;
}

.table-custom {
    color: black;
}

.table-custom td, .table-custom th {
    border-color: black;
    color: black;
    font-family: 'Arial', serif;
}

.table-custom thead th {
    border-bottom: 1px solid black !important;
}

.table-custom tbody+tbody {
    border-top: 1px solid black !important;
}

#big-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
}

#big-table tbody {
    display: table;
    width: 100%;
}

#big-table td.b-black {
    background-color: #000000;
}

#big-table td.b-grey {
    background-color: #a7a7a7;
    color: #000;
}

#big-table td.b-pink {
    background-color: #fb9cb7;
    color: #000;
}

#big-table td {
    border: 3px solid black;
}

#big-table td.no-border {
    border: none;
}

.vert-middle {
    vertical-align: middle;
}

#t-custom {
    display: block;
    width: 100%;
    white-space: nowrap;
    border-collapse: collapse;
}

#t-custom tbody {
    display: table;
    width: 100%;
}

#t-custom td {
    border: 2px solid black;
}

#t-custom td.no-border {
    border: none;
}

#t-custom td.no-border-l {
    border-left: none;
}

#t-custom td.no-border-r {
    border-right: none;
}

#t-custom td.no-border-t {
    border-top: none;
}

#t-custom td.no-border-b {
    border-bottom: none;
}