/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
/**
.ui-view-container {
    position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    -webkit-transform:translate3d(100px, 0, 0);
    -moz-transform:translate3d(100px, 0, 0);
    transform:translate3d(100px, 0, 0);
}
*/

/**
 * [ui-view].ng-leave
 *  - padding-left: 0px;
 *
 * [ui-view].ng-leave-active
 *  - padding-left: 100px;
 */

/* fixed scrollbar size */
/*
body::-webkit-scrollbar,
div::-webkit-scrollbar {
    width: 0.8em !important;
    height: 0.8em !important;
}
*/


* {
    box-sizing: border-box;
}

/**
 * uncustomize placeholder
 */
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
    text-align: left;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
    text-align: left;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
    text-align: left;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
    text-align: left;
}
::placeholder { /* Recent browsers */
    text-transform: none;
    text-align: left;
}

.bootstrap-select.btn-group .dropdown-menu {
    width: 200px;
}

div.btn-default-focus2:active {
    border: none;
}

.my-dropdown {
    margin-top: unset !important;
    font-size: unset !important;
    max-height: 500px !important;
    overflow-x: scroll !important;
    overflow-y: auto !important;
    top: unset !important;
    padding: 0 0 0 0;
}

/*
.table-responsive {
    min-height: .01%;
    min-height: 400px;
    min-width: 400px;
    overflow-x: auto;
}
*/

span.ui-select-choices-row-inner {
    padding: 10px 20px !important;
}

/**
 * Datatable custom styles
 */
table.dataTable th.focus,
table.dataTable td.focus {
  outline: none;
}

table[jq-data-tables]>tbody>tr>td>table {
    border: solid thin #CCC;
}

table[jq-data-tables]>tbody>tr.selected {
    color: #111 !important;
}

/**
 * Custom styles
 */
.hoverable:hover {
    cursor: pointer;
    transition: box-shadow .25s;
    box-shadow: 0px 0px 7px 0px #000, 0px 0px 10px 0px #CCC;
}

.custom-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    line-height: 35px;
    background-color: white;
    color: #000;
    text-align: center;
    box-shadow: 0px 0px 5px 0px #000;
    z-index: 1000;
}

.custom-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0px 0px 5px 0px #000;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
    .modal-xlg{
        width: 70%;
    }
    .modal-xxlg{
        width: 90%;
    }
    .modal-xxxlg{
        width: 98%;
    }
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.container img {
    width: 185px;
    height: 188px;
}

.container .circle {
	width: 33px;
    height: 33px;
    position: absolute;
    top: 0.05%;
    left: 98%;
    background-color: rgb(13, 122, 196);
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}

.container .circle:hover {
    background-color:	#FF0000;
    color: rgb(14, 13, 13);
    font-size: 16px;
}

.column {
    float: left;
    width: 31.40%;
    padding: 8px;
}

.column2 {
    float: left;
    width: 15%;
    padding: 8px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}