<script type="text/ng-template" id="view_no_property_dec.html">
    <div block-ui="blockViewNoPropertyDec">
		<div class="modal-header align-items-center">
			<span class="fa-stack fa-lg">
				<i class="fas fa-square fa-stack-2x text-crimson"></i>
				<i class="fas fa-eye fa-stack-1x fa-inverse"></i>
			</span>

			<h5 class="modal-title" style="letter-spacing: 1px;">PRINT PREVIEW</h5>

			<button type="button" class="close" aria-label="Close" ng-click="closeModal()">
				<span aria-hidden="true">
					<i class="fas fa-times"></i>
				</span>
			</button>
		</div>
		<div class="modal-body" id="print-identifier" style="padding-left: 30px; padding-right: 30px;">
			<div class="row mb-5 align-items-center pt-5">
				<div class="col-4">
					<div id="logo_albay" class="text-right">
						<img class="w-50" src="{{ server_base_url }}/public/img/lgu_malilipot.png" alt="LGU Malilipot Logo" />
					</div>
				</div>
				<div class="col-4">
					<p class="font-arial text-center mb-0">Republic of the Philippines</p>
					<p class="font-arial text-center mb-0">Municipality of Malilipot</p>
					<p class="font-arial text-center mb-0">Province of Albay</p>
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row mb-4 align-items-center">
				<div class="col-12">
					<h4 class="font-arial font-30 font-weight-bold text-center mb-5">OFFICE OF THE MUNICIPAL ASSESSOR</h4>
				</div>
			</div>
			<div class="row mb-4 align-items-center">
				<div class="col-12">
					<h4 class="font-arial font-30 font-weight-bold text-center mb-5" style="letter-spacing: 10px;">CERTIFICATION</h4>
				</div>
			</div>
			<div class="row mb-4 align-items-center" style="padding-left: 7rem; padding-right: 7rem;">
				<div class="col-12">
					<p class="font-arial font-weight-bold mb-0">TO WHOM IT MAY CONCERN:</p>
				</div>
			</div>
			<div class="row mb-4 align-items-center" style="padding-left: 7rem; padding-right: 7rem; text-indent: 70px;">
				<div class="col-12">
					<p class="font-arial mb-0 text-justify">
						This is to CERTIFY that as per Real Property Records on file in this office, <b class="text-uppercase"><u>{{ data.declarees }}</u></b> 
						has no property declared under their names.
					</p>
				</div>
			</div>
			<div class="row mb-5 align-items-center" style="padding-left: 7rem; padding-right: 7rem; text-indent: 70px;">
				<div class="col-12">
					<p class="font-arial mb-0 text-justify">
						Issued this {{ data.date.day }}<sup>{{ data.date.day_ord }}</sup> day of <u>{{ data.date.month }}, {{ data.date.year }}</u> at Malilipot, Albay 
						upon the request of <b class="text-uppercase"><u>{{ data.requestor }}</u></b> for {{ data.purpose }} purposes.
					</p>
				</div>
			</div>
			<div class="row mb-4 align-items-center">
				<div class="col-7"></div>
				<div class="col-5">
					<p class="font-arial mb-5">Research/Prepared by:</p>
					<p class="font-arial mb-5 font-weight-bold">JONNA VEE L. BIRAQUIT</p>
					<p class="font-arial mb-5">Verified by:</p>
					<p class="font-arial mb-0 font-weight-bold">NATIVIDAD C. KRISHNAN</p>
					<p class="font-arial mb-0 font-italic">&nbsp;&nbsp;OIC-Municipal Assessor</p>
				</div>
			</div>
			<div class="row mb-4 align-items-center" style="padding-left: 7rem; padding-right: 7rem;">
				<div class="col-12">
					<p class="font-arial mb-0">Paid Under: P20.00</p>
					<p class="font-arial mb-0">OR No. :{{ data.or_no }}</p>
					<p class="font-arial mb-0">DATE: {{ data.date.month }} {{ data.date.day }}, {{ data.date.year }}</p>
					<p class="font-arial mb-0">MTO, Malilipot, Albay</p>
				</div>
			</div>
		</div>
		<div class="modal-footer bordered">
			<button type="submit" class="btn btn-default bg-crimson-red" ng-click="print()">
				<span>PRINT</span>
			</button>
			<button type="button" class="btn btn-default" ng-click="closeModal()">
				<span>CLOSE</span>
			</button>
		</div>
    </div>
</script>