<script type="text/ng-template" id="project_access.html">
    <div block-ui="blockAccessForm">
        <form name="form.accessForm" ng-submit="save(form.accessForm.$valid)" novalidate>
            <div class="modal-header">
				<span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x text-danger"></i>
                    <i class="{{ accessConf.mIcon }}" style="color: white;"></i>
	            </span>

	            <span style="letter-spacing: 1px;" class="text-uppercase">{{ accessConf.mLabel }} PROJECT ACCESS</span>

	            <button type="button" class="close" aria-label="Close" ng-click="closeModal()" style="margin-top: 7px; margin-right: 7px;">
	                <span aria-hidden="true">
	                    <i class="fa fa-times"></i>
	                </span>
	            </button>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row" ng-if="accessConf.mLabel == 'NEW'">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-responsive">
                            <style>table.table>thead>tr>th, table.table>tbody>tr>td { vertical-align: middle; text-align: center; }</style>
                            <table class="table table-bordered table-condensed table-striped border-dark">
                                <thead>
                                    <tr>
                                        <th style="width: 3px" class="bg-primary" rowspan="2">
                                            <button type="button" class="btn btn-success btn-xs btn-block waves-effect" title="Add Item" ng-click="addSequence(addProjectAccess.length);">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </th>
                                        <th style="width: 300px" class="bg-primary"><small>Project</small></th>
                                        <th style="width: 200px" class="bg-primary"><small>Access Level</small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, sequence) in addProjectAccess track by $index">
                                        <td>
                                            <button type="button" class="btn btn-danger btn-xs btn-block waves-effect" title="Remove Activity" ng-click="removeSequence($index)" tabindex="-1">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <div class="form-group" style="margin-bottom: unset;">
                                                <ui-select ng-model="addProjectAccess[key].project"
                                                    theme="bootstrap"
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    data-trigger="focus"
                                                    reset-search-input="true"
                                                    append-to-body = "true" required>
                                                <ui-select-match placeholder="Select...">
                                                    {{ $select.selected.project_code }}
                                                </ui-select-match>
                                                <ui-select-choices style="font-size: 12px;"
                                                    repeat="project in projects | filter: $select.search | limitTo: infiniteScroll.currentItems"
                                                    infinite-scroll="addMoreItems()"
                                                    infinite-scroll-distance="2">
                                                    <b>PROJECT CODE: </b><span>{{project.project_code}}</span><br>
                                                    <b>PROJECT NAME: </b><span>{{project.project_name}}</span><br>
                                                </ui-select-choices>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="margin-bottom: unset;">
                                                <input type="text"
                                                class="form-control"
                                                ng-model="addProjectAccess[key].level"
                                                name="level"
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                data-trigger="focus"
                                                title="Access Level (, e.g. 1,1,1)"
                                                required>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="accessConf.mLabel == 'UPDATE'">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group" style="margin-bottom: unset;">
                                    <span class="form-label">Project:</span>
                                    <input type="text"
                                    class="form-control"
                                    value="{{updateProjectAccess.project_code}} - {{updateProjectAccess.project_name}}"
                                    name="level"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    disabled
                                    data-trigger="focus"
                                    title="Access Level (, e.g. 1,1,1)"
                                    required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                                <div class="form-group" style="margin-bottom: unset; margin-top:20px">
                                    <span class="form-label">Access Level:</span>
                                    <input type="text"
                                    class="form-control"
                                    ng-model="updateProjectAccess.level"
                                    name="level"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    data-trigger="focus"
                                    title="Access Level (, e.g. 1,1,1)"
                                    required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
                        <button ng-if="accessConf.mLabel == 'NEW'" class="btn btn-warning hoverable" ng-disabled="!form.accessForm.modified">
                            <i class="fa fa-save"></i>&nbsp;SAVE
                        </button>
                        <button ng-if="accessConf.mLabel == 'UPDATE'" class="btn btn-warning hoverable" ng-disabled="!form.accessForm.modified">
                            <i class="fa fa-edit"></i>&nbsp;UPDATE
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>