<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card shadow-lg border-0 rounded-lg mt-5" id="login-card">
                <div class="card-body p-0">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block">
                                <div class="login-image-wrap h-100">
                                    <img src="img/lgu_malilipot.png" class="login-image" alt="LGU Malilipot Logo">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="py-5 pr-3">
                                    <div class="text-center">
                                        <img src="img/erpas.png" class="logo" alt="eRPAS Logo">
                                    </div>

                                    <form name="loginForm" ng-submit="signIn(loginForm.$valid)">
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputUsername">Username</label>
                                            <input class="form-control py-4" ng-model="login.username" id="inputUsername" type="text" placeholder="Enter username">
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword">Password</label>
                                            <input class="form-control py-4" ng-model="login.password" id="inputPassword" type="password" placeholder="Enter password">
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="password.html">Forgot Password?</a>
                                        </div> <br>
                                        <div>
                                            <button class="btn bg-crimson-red btn-block" type="submit">
                                                LOGIN
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright © eRPAS 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            ·
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .sign-up {
        color: #4e73df !important;
    }

    .sign-up:hover {
        text-decoration: underline;
        color: #4e73df;
    }

    .login-image {
        position: absolute;
        width: 80%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .logo {
        width: 90%;
    }

    #login-card {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
</style>

<div class="modal" ng-repeat="template in templates">
    <ng-include src="template"></ng-include>
</div>