<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="login-box" style="box-shadow: 0px 0px 5px 0px #AAA;" block-ui="blockLogin">
                <div class="box box-danger">
                    <div class="box-header">
                        <div class="login-logo" style="margin-bottom: 40px;">
                            <a href="index.html">
                                <img src="img/arpeggio_logo.png" width="50%" height="50%" />
                                <!-- <img src="img/sw-new-logo.png" width="100%" /> -->
                            </a>
                        </div>
                    </div>
                    <!-- /.box-header -->

                    <form name="loginForm" ng-submit="signIn(loginForm.$valid)" novalidate style="margin-top: -50px;">
                        <div class="box-body">

                            <!-- username -->
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group has-feedback">
                                        <input type="name" class="form-control" placeholder="Username" ng-model="login.username" autofocus="autofocus" required>
                                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- password -->
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group has-feedback" style="margin-top: -10px;">
                                        <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required>
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- sign-in button -->
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <button class="btn btn-primary btn-block btn-flat" type="submit">
                                        <i class="fa fa-sign-in"></i>&nbsp;Sign in
                                    </button>
                                </div>
                            </div>

                            <!-- space -->
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&nbsp;</div>
                            </div>
                        </div>
                    </form>

                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
                                <small>
                                    <b>Copyright</b> &copy; 2016-2021.
                                    <br />
                                    <a href="" class="hidden-xs hidden-sm"><b>Sunwest Construction and Development Corporation.</b></a>
                                    <a href="" class="hidden-md hidden-lg"><b>SCDC</b></a>
                                    <br />
                                    <span>All rights reserved.</span>
                                </small>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Load modal template -->
<div class="modal" ng-repeat="template in templates">
    <ng-include src="template"></ng-include>
</div>