<style type="text/css">
    .datepicker{z-index:9999 !important}
</style>
<script type="text/ng-template" id="educational_background.html">
    <div block-ui="blockEducationalBackground">
        <form name="educationalBackgroundForm" ng-submit="save(educationalBackgroundForm.$valid)" novalidate>
            <div class="modal-header">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x text-danger"></i>
                    <i class="{{ config.mIcon }}" style="color: white;"></i>
                </span>

                <span style="letter-spacing: 1px;" class="text-uppercase">{{ config.mType }} EDUCATIONAL BACKGROUND</span>

                <button type="button" class="close" aria-label="Close" ng-click="closeModal()" style="margin-top: 7px; margin-right: 7px;">
                    <span aria-hidden="true">
                        <i class="fa fa-times"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row" style="font-style: italic;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- 
                            attainment
                        -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <ui-select ng-model="educationalBackgroundInfo.attainment"
                                        theme="bootstrap"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        data-trigger="focus"
                                        title="Attainment (e.g. Primary, Secondary, etc.)"
                                        reset-search-input="true"
                                        tagging="createTag"
                                        tagging-label="false"
                                        autofocus="autofocus"
                                        required>
                                    <ui-select-match placeholder="Select attainment...">
                                        {{ $select.selected.name }}
                                    </ui-select-match>
                                    <ui-select-choices style="font-size: 12px;" 
                                        repeat="attainment in attainments | filter: $select.search | limitTo: infiniteScroll.currentItems"
                                        infinite-scroll="addMoreItems()"
                                        infinite-scroll-distance="2">
                                        <div class="activity-code-item" 
                                            ng-bind-html="attainment.name | highlight: $select.search">
                                        </div>
                                    </ui-select-choices>
                                </div>
                            </div>
                        </div>

                        <!-- 
                            school
                        -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <ui-select ng-model="educationalBackgroundInfo.school"
                                        theme="bootstrap"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        data-trigger="focus"
                                        title="School (e.g. Bicol University, etc.)"
                                        reset-search-input="true"
                                        tagging="createTag"
                                        tagging-label="false"
                                        required>
                                    <ui-select-match placeholder="Select school...">
                                        {{ $select.selected.name }}
                                    </ui-select-match>
                                    <ui-select-choices style="font-size: 12px;" 
                                        repeat="school in schools | filter: $select.search | limitTo: infiniteScroll.currentItems"
                                        infinite-scroll="addMoreItems()"
                                        infinite-scroll-distance="2">
                                        <div class="activity-code-item" 
                                            ng-bind-html="school.name | highlight: $select.search">
                                        </div>
                                    </ui-select-choices>
                                </div>
                            </div>
                        </div>

                        <!-- 
                            course
                        -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <ui-select ng-model="educationalBackgroundInfo.course"
                                        theme="bootstrap"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        data-trigger="focus"
                                        title="Course (e.g. BS Information Technology, BS Biology, etc.)"
                                        reset-search-input="true"
                                        tagging="createTag"
                                        tagging-label="false"
                                        required>
                                    <ui-select-match placeholder="Select course...">
                                        {{ $select.selected.name }}
                                    </ui-select-match>
                                    <ui-select-choices style="font-size: 12px;" 
                                        repeat="course in courses | filter: $select.search | limitTo: infiniteScroll.currentItems"
                                        infinite-scroll="addMoreItems()"
                                        infinite-scroll-distance="2">
                                        <div class="activity-code-item" 
                                            ng-bind-html="course.name | highlight: $select.search">
                                        </div>
                                    </ui-select-choices>
                                </div>
                            </div>
                        </div>

                        <!-- date_graduated -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <div class="form-group has-feedback">
                                    <input type="text"
                                        name="date_graduated"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        data-trigger="focus"
                                        title="Date Graduated (e.g. 03/31/2014)."
                                        placeholder="Enter date graduated."
                                        class="form-control"
                                        id="date_graduated"
                                        data-language="en"
                                        data-inputmask="'mask': '99/99/9999','placeholder': 'mm/dd/yyyy'"
                                        data-mask
                                        required>
                                        <!-- ng-model="educationalBackgroundInfo.date_graduated" -->
                                    <span class="form-control-feedback feedback"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>

                        <!-- honor -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                <div class="form-group has-feedback">
                                    <textarea class="form-control"
                                        row="5"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        data-trigger="focus"
                                        title="Honors (e.g. Cum Laude, etc.)."
                                        required 
                                        style="resize: none" 
                                        placeholder="Enter honors."
                                        ng-model="educationalBackgroundInfo.honors">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="submit" class="btn btn-warning hoverable">
                            <i class="fa fa-save"></i>&nbsp;{{ config.btnLabel }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            // input-mask
            Inputmask().mask(document.querySelectorAll("input"));
        });
    </script>
</script>