<style type="text/css">
    .datepicker{z-index:9999 !important}
</style>
<script type="text/ng-template" id="license_certificate.html">
    <div block-ui="blockLicenseCertificate">
        <form name="licenseCertificateForm" ng-submit="save(licenseCertificateForm.$valid)" novalidate>
            <div class="modal-header">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x text-danger"></i>
                    <i class="{{ config.mIcon }}" style="color: white;"></i>
                </span>

                <span style="letter-spacing: 1px;" class="text-uppercase">{{ config.mType }} LICENSE/CERTIFICATES</span>

                <button type="button" class="close" aria-label="Close" ng-click="closeModal()" style="margin-top: 7px; margin-right: 7px;">
                    <span aria-hidden="true">
                        <i class="fa fa-times"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row" style="font-style: italic;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- 
                            License name
                        -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group has-feedback">
                                    <input type="text" 
                                        name="name"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        data-trigger="focus"
                                        title="License name (e.g. CSC Eligibility)"
                                        ng-model="licenseCertificateInfo.name"
                                        class="form-control text-capitalize" 
                                        placeholder="Enter license name."
                                        autofocus="autofocus"
                                        required>
                                      	<span class="form-control-feedback feedback"><i class="fa fa-pencil"></i></span>
                                </div>
                            </div>
                        </div>
						
                        <!-- date_taken -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <div class="form-group has-feedback">
                                    <input type="text"
                                        name="date_taken"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        data-trigger="focus"
                                        title="Date Taken (e.g. 03/31/2014)."
                                        placeholder="Enter date taken."
                                        class="form-control"
                                        id="date_taken"
                                        data-language="en"
                                        data-inputmask="'mask': '99/99/9999','placeholder': 'mm/dd/yyyy'"
                                        data-mask
                                        required>
                                        <!-- ng-model="licenseCertificateInfo.date_taken" -->
                                    <span class="form-control-feedback feedback"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>

                        <!-- rating -->
	                    <div class="row">
	                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	                            <div class="form-group has-feedback">
	                                <input type="text" 
	                                    name="rating"
	                                    data-toggle="tooltip"
	                                    data-placement="top"
	                                    data-trigger="focus"
	                                    title="Rating (e.g. 92.82%)"
	                                    ng-model="licenseCertificateInfo.rating" 
	                                    class="form-control" 
	                                    placeholder="Enter rating." 
	                                    data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '', 'placeholder': '0'"
	                                    data-mask
	                                    required>
	                                <span class="form-control-feedback feedback">%</span>
	                            </div>  
	                        </div>
	                    </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="submit" class="btn btn-warning hoverable">
                            <i class="fa fa-save"></i>&nbsp;{{ config.btnLabel }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            // input-mask
            Inputmask().mask(document.querySelectorAll("input"));
        });
    </script>
</script>