<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row" ng-show="employee.ho == '1'">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-danger">
                <div class="box-header">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x text-danger"></i>
                        <i class="fa fa-home fa-stack-1x" style="color: white;"></i>
                    </span>
                    <span style="letter-spacing: 1px;">HOME OFFICE</span>
                </div>
                <div class="box-body">
                    <center>
                        <div class="row" style="padding: 0px 15px;">
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="menu in dbMenu.ho" style="padding: 2px;">
                                <div class="{{ menu.box_color }}" style="height: 120px; margin-bottom: 1px; padding-left: 5px; padding-right: 5px;" ng-click="loadChildMenus('ho', menu.id, menu.name)">
                                    <center class="hidden-xs">
                                        <i class="{{ menu.icon }} fa-4x" style="margin-bottom: 8px;"></i>
                                        <p style="letter-spacing: 1px;">
                                            <small>{{ menu.name | uppercase }}</small>
                                        </p>
                                    </center>
                                    <center class="hidden-sm hidden-md hidden-lg">
                                        <i class="{{ menu.icon }} fa-3x" style="margin-bottom: 8px"></i>
                                        <p style="letter-spacing: 1px;">
                                            <span style="font-size: 10px;">{{ menu.name | uppercase }}</span>
                                        </p>
                                    </center>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding: 2px;" ng-if="user_id == '42' || user_id == '2' || user_id == '3'">
                                <div class="callout callout-warning hoverable" style="height: 120px; margin-bottom: 1px; padding-left: 5px; padding-right: 5px;" ng-click="externalLink('price_matrix')">
                                    <center class="hidden-xs">
                                        <i class="fa fa-file-text fa-4x" style="margin-bottom: 8px;"></i>
                                        <p style="letter-spacing: 1px;">
                                            <small>{{ "Supply Price Matrix" | uppercase }}</small>
                                        </p>
                                    </center>
                                    <center class="hidden-sm hidden-md hidden-lg">
                                        <i class="fa fa-file-text fa-3x" style="margin-bottom: 8px"></i>
                                        <p style="letter-spacing: 1px;">
                                            <span style="font-size: 10px;">{{ "Price Matrix" }}</span>
                                        </p>
                                    </center>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding: 2px;" ng-if="dashboardInfo.is_signatory == '0'" ng-show="false">
                                <div class="callout callout-warning hoverable" style="height: 120px; margin-bottom: 1px; padding-left: 5px; padding-right: 5px;" ng-click="externalLink('withdrawal')">
                                    <center class="hidden-xs">
                                        <i class="fa fa-file-text fa-4x" style="margin-bottom: 8px;"></i>
                                        <p style="letter-spacing: 1px;">
                                            <small>{{ "Withdrawal Slip" | uppercase }}</small>
                                        </p>
                                    </center>
                                    <center class="hidden-sm hidden-md hidden-lg">
                                        <i class="fa fa-file-text fa-3x" style="margin-bottom: 8px"></i>
                                        <p style="letter-spacing: 1px;">
                                            <span style="font-size: 10px;">{{ "Withdrawal Slip" }}</span>
                                        </p>
                                    </center>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding: 2px;" ng-if="dashboardInfo.is_signatory == '0'" ng-show="false">
                                <div class="callout callout-warning hoverable" style="height: 120px; margin-bottom: 1px; padding-left: 5px; padding-right: 5px;" ng-click="externalLink('crs_crf')">
                                    <center class="hidden-xs">
                                        <i class="fa fa-file-text fa-4x" style="margin-bottom: 8px;"></i>
                                        <p style="letter-spacing: 1px;">
                                            <small>{{ "CRS / CRF" | uppercase }}</small>
                                        </p>
                                    </center>
                                    <center class="hidden-sm hidden-md hidden-lg">
                                        <i class="fa fa-file-text fa-3x" style="margin-bottom: 8px"></i>
                                        <p style="letter-spacing: 1px;">
                                            <span style="font-size: 10px;">{{ "CRS / CRF" }}</span>
                                        </p>
                                    </center>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding: 2px;" ng-if="dashboardInfo.is_signatory == '0'" ng-show="false">
                                <div class="callout callout-warning hoverable" style="height: 120px; margin-bottom: 1px; padding-left: 5px; padding-right: 5px;" ng-click="externalLink('crs_crf')">
                                    <center class="hidden-xs">
                                        <i class="fa fa-file-text fa-4x" style="margin-bottom: 8px;"></i>
                                        <p style="letter-spacing: 1px;">
                                            <small>{{ "PETTY CASH FORM" | uppercase }}</small>
                                        </p>
                                    </center>
                                    <center class="hidden-sm hidden-md hidden-lg">
                                        <i class="fa fa-file-text fa-3x" style="margin-bottom: 8px"></i>
                                        <p style="letter-spacing: 1px;">
                                            <span style="font-size: 10px;">{{ "PETTY CASH FORM" }}</span>
                                        </p>
                                    </center>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding: 2px;" ng-if="dashboardInfo.is_signatory == '0'" ng-show="false">
                                <div class="callout callout-warning hoverable" style="height: 120px; margin-bottom: 1px; padding-left: 5px; padding-right: 5px;" ng-click="externalLink('crs_crf')">
                                    <center class="hidden-xs">
                                        <i class="fa fa-file-text fa-4x" style="margin-bottom: 8px;"></i>
                                        <p style="letter-spacing: 1px;">
                                            <small>{{ "CASH ADVANCE FORM" | uppercase }}</small>
                                        </p>
                                    </center>
                                    <center class="hidden-sm hidden-md hidden-lg">
                                        <i class="fa fa-file-text fa-3x" style="margin-bottom: 8px"></i>
                                        <p style="letter-spacing: 1px;">
                                            <span style="font-size: 10px;">{{ "CASH ADVANCE FORM" }}</span>
                                        </p>
                                    </center>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding: 2px;" ng-if="dashboardInfo.is_signatory == '0'" ng-show="false">
                                <div class="callout callout-warning hoverable" style="height: 120px; margin-bottom: 1px; padding-left: 5px; padding-right: 5px;" ng-click="externalLink('crs_crf')">
                                    <center class="hidden-xs">
                                        <i class="fa fa-file-text fa-4x" style="margin-bottom: 8px;"></i>
                                        <p style="letter-spacing: 1px;">
                                            <small>{{ "REIMBURSEMENT FORM" | uppercase }}</small>
                                        </p>
                                    </center>
                                    <center class="hidden-sm hidden-md hidden-lg">
                                        <i class="fa fa-file-text fa-3x" style="margin-bottom: 8px"></i>
                                        <p style="letter-spacing: 1px;">
                                            <span style="font-size: 10px;">{{ "REIMBURSEMENT FORM" }}</span>
                                        </p>
                                    </center>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding: 2px;" ng-if="dashboardInfo.is_signatory == '0'" ng-show="false">
                                <div class="callout callout-warning hoverable" style="height: 120px; margin-bottom: 1px; padding-left: 5px; padding-right: 5px;" ng-click="externalLink('crs_crf')">
                                    <center class="hidden-xs">
                                        <i class="fa fa-file-text fa-4x" style="margin-bottom: 8px;"></i>
                                        <p style="letter-spacing: 1px;">
                                            <small>{{ "REPLENISHMENT FORM" | uppercase }}</small>
                                        </p>
                                    </center>
                                    <center class="hidden-sm hidden-md hidden-lg">
                                        <i class="fa fa-file-text fa-3x" style="margin-bottom: 8px"></i>
                                        <p style="letter-spacing: 1px;">
                                            <span style="font-size: 10px;">{{ "REPLENISHMENT FORM" }}</span>
                                        </p>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="employee.fo == '1'">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-danger">
                <div class="box-header">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x text-danger"></i>
                        <i class="fa fa-road fa-stack-1x" style="color: white;"></i>
                    </span>
                    <span style="letter-spacing: 1px;">FIELD OFFICE</span>
                </div>
                <div class="box-body">
                    <center>
                        <div class="row" style="padding: 0px 15px;">
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="menu in dbMenu.fo" style="padding: 2px;">
                                <div class="callout callout-warning hoverable" style="height: 120px; margin-bottom: 1px; padding-left: 5px; padding-right: 5px;" ng-click="loadChildMenus('fo', menu.id, menu.name)">
                                    <center class="hidden-xs">
                                        <i class="{{ menu.icon }} fa-4x" style="margin-bottom: 8px"></i>
                                        <p style="letter-spacing: 1px;">
                                            <small>{{ menu.name | uppercase }}</small>
                                        </p>
                                    </center>
                                    <center class="hidden-sm hidden-md hidden-lg">
                                        <i class="{{ menu.icon }} fa-3x" style="margin-bottom: 8px"></i>
                                        <p style="letter-spacing: 1px;">
                                            <span style="font-size: 10px;">{{ menu.name | uppercase }}</span>
                                        </p>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Load modal template -->
<div class="modal" ng-repeat="template in templates">
    <ng-include src="template"></ng-include>
</div>