<div class="row" block-ui="blockTaxDeclarations">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card border-bottom-success shadow mb-4">
            <div class="card-header bg-success py-3">
                <h6 class="m-0 font-weight-bold text-white">Monitoring of Paid Tax Declarations</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-info btn-md" ng-click="openTdPaymentProtal()">
                            <i class="fas fa-plus"></i> ADD PAYMENT TRANSACTION
                        </button>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-12">
                        <div style="margin-top: 25px;">
                            <div class="table-responsive">
                                <table id="tax_declarations" jq-data-tables options="jqDataTableOptions" rowbtn="rowBtns" class="table table-hover table-bordered table-striped" width="100%">
                                    <thead>
                                        <tr class="text-uppercase" style="letter-spacing: 1px;">
                                            <th class="text-center" style="width: 2%;  vertical-align: middle;">#</th>
                                            <th class="text-center" style="width: 13%;  vertical-align: middle;">Transaction Date</th>
                                            <th class="text-center" style="width: 15%; vertical-align: middle;">O.R. Number</th>
                                            <th class="text-center" style="width: 15%; vertical-align: middle;">Amount Paid</th>
                                            <th class="text-center" style="width: 20%; vertical-align: middle;">Paid By</th>
                                            <th class="text-center" style="width: 20%; vertical-align: middle;">Collecting Officer</th>
                                            <th class="text-center" style="width: 15%; vertical-align: middle;"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Load modal template -->
<div class="modal" ng-repeat="template in templates">
    <ng-include src="template"></ng-include>
</div>